@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("./variables.css");

html {
  scroll-behavior: smooth;
}

#app {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;
}
