.navbar {
  width: 100%;
  background-color: #4e4e4e;
}

.navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 960px;
  margin: 0 auto;
  color: white;
}

.title {
  font-weight: bold;
  font-size: var(--titleFontSize);
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  gap: 10px;
}
.disabled:hover {
  cursor: not-allowed;
}
